{
  "extends": "airbnb",
  "rules": {
    // "no-param-reassign": "off",
    // "consistent-return": "off",
    // "no-else-return": "off",
    "no-console": "off",
    "react/prop-types": "off",
    // "linebreak-style": 0 // windows CRLF LF thing?
    "func-names": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }] // allows for i++ or i-- in third arg of for loop
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  // below are the settings for typescript linting
  "parser": "@typescript-eslint/parser",
  "plugins": [ "@typescript-eslint" ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    },
    "project": "./tsconfig.json"
  }
}